.notFound-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFound-img {
  height: 400px;
}

.notFound-heading {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-size: 28px;
}

.notFound-description {
  font-family: 'Roboto';
  color: #cbd5e1;
}

@media screen and (max-width: 576px) {
  .notFound-img {
    height: 300px;
  }

  .notFound-description {
    font-size: 14px;
  }
}
