.jobs-container {
  background-color: #000000;
  min-height: 100vh;
}

.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 160px;
  width: 240px;
  border-radius: 15px;
  padding: 10px;
  padding-left: 20px;
}

.search-button {
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 576px) {
  .profile-container {
    width: 350px;
  }
}
.profileImage {
  margin-top: 10px;
  height: 40px;
}

.profileName {
  font-family: 'Roboto';
  font-size: 18px;
  color: #6366f1;
  margin: 0px;
  margin-top: 6px;
}

.profileBio {
  font-family: 'Roboto';
  color: #475569;
  line-height: 1.5;
  font-size: 13px;
}

.horizontal-line {
  border: 1px solid #475569;
  margin-top: 20px;
}

.profileSectionAndSpecification {
  width: 250px;
  margin-left: 80px;
  margin-top: 25px;
  margin-right: 50px;
}

@media screen and (max-width: 576px) {
  .profileSectionAndSpecification {
    width: 350px;
  }
}

.typeOfEmployment {
  font-family: 'Roboto';
  font-size: 15px;
  color: #f1f5f9;
  margin-bottom: 20px;
  margin-top: 20px;
}

.labelText {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-size: 13px;
  margin-left: 10px;
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  list-style-type: none;
}

.salaryText {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-size: 13px;
  margin-left: 10px;
}

.salaryRange {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.salary-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  list-style-type: none;
}

.searchField {
  border-color: #475569;
  color: #f1f5f9;
  font-family: 'Roboto';
  outline: none;
}

.jobs-and-jobListContainer {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 576px) {
  .jobs-and-jobListContainer {
    display: flex;
    flex-direction: column;
  }
}

.jobs-list-container {
  margin-top: 25px;
}

@media screen and (max-width: 576px) {
  .jobs-list-container {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .sm-search-container {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .sm-search-container {
    display: none;
  }
}

.searchField {
  background-color: #000000;
  height: 30px;
  border: none;
  width: 300px;
  padding-left: 15px;
}

.searchField-container {
  height: 34px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 350px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid #475569;
  background-color: #202020;
}

@media screen and (max-width: 576px) {
  .searchField-container {
    width: 350px;
    flex-shrink: 1;
  }
}

@media screen and (max-width: 576px) {
  .searchField {
    width: 290px;
  }
}
.search-icon {
  color: #f1f5f9;
  margin-left: 15px;
  cursor: pointer;
}

.retry-btn {
  color: #f1f5f9;
  background-color: #4f46e5;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}

.failure-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eachJob-container {
  background-color: #202020;
}

.jobs-container {
  /* background-color: #ffffff; */
}

.failure-view-img {
  margin-top: 30px;
  height: 300px;
}

.failure-heading {
  font-family: 'Roboto';
  color: #f1f5f9;
}

.failure-description {
  font-family: 'Roboto';
  color: #7e858e;
  font-size: 14px;
}

.jobs-retry-button {
  background-color: #4f46e5;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  color: #ffffff;
  font-family: 'Roboto';
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.5;
}

@media screen and (max-width: 576px) {
  .lg-renderJobs-container {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .sm-renderJobs-container {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .failure-heading {
    font-size: 16px;
  }

  .failure-description {
    width: 230px;
    line-height: 1.5;
    text-align: center;
  }

  .failure-view-img {
    height: 200px;
    margin-top: 10px;
  }

  .jobs-retry-button {
    margin-bottom: 30px;
  }
}

.no-jobs-img {
  margin-top: 50px;
}

@media screen and (max-width: 576px) {
  .no-jobs-img {
    height: 150px;
  }
}

.no-jobs-heading {
  font-family: 'Roboto';
  color: #f1f5f9;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .no-jobs-heading {
    font-size: 19px;
  }
}

.no-jobs-description {
  font-family: 'Roboto';
  color: #64748b;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .no-jobs-description {
    font-size: 15px;
  }
}

.no-jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
